.page__home__head {

  font-size: $h1;
  text-align: center;

  margin-top: 20px;

}

.tracking {

  margin-top: 20px;

}

.tracking__form {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

}

.tracking__form__input {

  width: 69%;
  margin-right: 1%;
  margin-top: 10px;
  max-width: 650px;

  @media screen and (max-width: $below-is-phone){

    width: 100%;

    margin-right: 0;

    margin-top: 10px;
  }

}

.tracking__form__button {

  width: 30%;
  max-width: 100px;
  margin-top: 10px;


  @media screen and (max-width: $below-is-phone){

    width: 100%;

    margin-top: 10px;

  }
}

