.container {
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

@for $i from 1 through $grid-columns {

  .col-#{$i} {
    width: (100% / $grid-columns) * $i;

    // For phones the col-width is always 100%
    @media screen and (max-width: $below-is-phone){
      width: 100%;
    }
  }

}





