.register {

  width: 100%;

}

.register__input:nth-of-type(1){

  margin-top: 15px;

}

.register__input {

  width: 80%;

  margin: 5px 10%;

}

.register__message {

  width: 80%;

  margin: 0 10%;

}

.register__submit {

  width: 80%;

  margin: 0 10%;

}