.details {

}

.details__addresses {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10%;

  @media screen  and (max-width: $below-is-phone){

    padding-left: 42%;
  }


}

.details__head {


  &::after {
    display: block;
    content: " ";

    height: 2px;
    width: 12%;

    background-color: $color-secondary;

    margin-top: 10px;
    margin-left: 44%;
  }
}
