.step {

  text-align: left;
  display: flex;
  flex-direction: row;

  padding: 5px;
  margin-top: 10px;
  margin-left: 20%;

  border: 2px solid $color-primary;

  width: 60%;

  @media screen and (max-width: $below-is-phone){

    width: 100%;
    margin-left: 0;

  }

  @media screen and (min-width: $below-is-phone) and (max-width: $below-is-tablet){

    width: 80%;
    margin-left: 10%;

  }

}

.step__details {

  flex-direction: column;
  padding-left: 20px;

  min-width: 90%;

}

.step__icon {

  color: $color-primary;

  padding: 5px;

  font-size: 3em;

  min-width: 10%;

}

.step__description:nth-of-type(1) {

  font-size: 1.1em;

}

.step__description:nth-of-type(2) {

  font-size: 0.8em;

}

.step__time {

  font-size: 0.8em;

}

.step__date {

  font-size: 0.8em;

}

.step-positive {

  background-color: $color-positive;
}

.step-negative {

  background-color: $color-negative;
}





