* {
  font-family: 'Lato', sans-serif;
}

h1 {

  font-family: 'Lusitana', serif;

}

h2 {

  font-family: 'Lusitana', serif;

}

h3 {

  font-family: 'Lusitana', serif;

}

h4 {

  font-family: 'Lusitana', serif;

}

h5 {

  font-family: 'Lusitana', serif;

}