// Grid:
$grid-columns: 12;

$below-is-phone: 600px;
$below-is-tablet: 900px;
$below-is-tablet-landscape: 1200px;
$below-is-desktop: 1800px;
$above-is-tv: 1801px;

// Text

$text-light: #fff;
$text-dark: #000;


// Colors
$color1: #0091cd;
$color2: #eb2f06;
$color3: #003d56;

$link-hover-invisible: rgba(255,255,255,0);
$link-hover-visible: rgba(255,255,255,1.0);

$color-primary: $color1;
$color-secondary: $color3;

$color-cta: $color2;

// Fonts

$h1: 1.6em;
$h2: 1.4em;
$h3: 1.3em;
$h4: 1.2em;
$h5: 1.1em;
